<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body">
            <h3>About Redlist</h3>
            <hr>
            <strong>"For Students By Students".</strong>
            <br><br>
            <p>
                Redlist consists of three main functionalities.
                <ol>
                  <li>Story</list>
                    <p>
                      Posting about opinions, tips, suggestions, sharing experiences or
                      whatever that could benefit people around them.
                    </p>
                  <li>Advertisement</list>
                    <p>
                      Breaks into five further categories which are job hunting,
                      part-time jobs, scholarships, events, and promotions.
                    </p>
                  <li>Group</list>
                    <p>
                      Information about research laboratories. Everyone in research laboratories
                      who want to create page about their laboratories can do so in this category.
                    </p>
                </ol>

                We hope that these three features will give current and prospective students
                more convenient access to important information regarding their current or future
                universities, schools, or campuses. After all, we are also students that wished a platform like
                this could have been exist earlier and that it could make our life as a student
                better and well informed.
            </p>
            <br><br>
            <strong>"Giving Back to Communities".</strong>
            <br><br>
            <p>
                We believe that 'What You Give Is What You Get' and it is the
                core value that we want to share to everybody. Life would be interesting
                and beautiful, especially when we are growing up in supportive environment
                with people that we know are willing to help each other. We want to build
                a community that inspire others to grow more than they could ever dream of.
                <br><br>
                Redlist was started as a hobby when we are still students at university.
                Since university life is challenging both mentally and physically,
                we decided to create a platform where students can give their opinions,
                tips, suggestions, and sharing their precious experiences, or even confessions
                so that younger generations will get benefit and not repeating the same mistake that they
                might have done, which that in turn will continue to inspire others in the future.
            </p>
            <br><br><br>
            <strong>"Empowers to Inspires".</strong>
            <br><br>
            <p>
                We wouldn't be where we are today if not because of lots and lots
                of help from our previous generations. Our seniors, supervisors, lecturers,
                teachers, friends, families, or whoever you are that have helped us, we
                are very grateful and appreciate all the sacrifices that they have made for us.
                <br><br>
                Now is the time to do something.
                <br><br>
                Something that we believe is truly meaningful that will give impact
                to our society. We believe education is the most effective way to
                bring that impact for the better. If you are students or graduated from any educational
                institutions and wanting to do something to give back to communities, this is the
                platform for you.
            </p>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
