<% provide(:submit_text,'Submit')%>
<% provide(:placeholder,'Feedbacks, inquiries, or any questions')%>
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body">
            <h3>Help and FAQ</h3>
            <hr>
            <h4>FAQ</h4>
            <strong>Question 1: What is Redlist?</strong>
            <p>
                Redlist is a platform to share stories or anything about life of a student. The word "STUDENT"
                is indeed has a broad meaning. It comprises the meaning of lifelong, ongoing process.
                Everyone of us is a student whether they have formal or informal education. We believe that
                everyone have something to tell about their lessons learnt from life.
                <br><br>
                In addition to the broad meaning of the word "STUDENT" mentioned above,
                Redlist also focusing on student of educational institution whether they are from schools,
                matriculations, colleges, or universities. The platform has advertisement pages with five
                categories which are part-time jobs, job huntings, events, promotions, and scholarships.
                The group pages is where students or groups of people from research laboratories to create their own
                webpages to introduce theirselves.
                <br><br>
                These are the categories that we thought are important for student's life.
            </p>
            <br>
            <strong>Question 2: How Redlist is different from other platform?</strong>
            <p>
                Redlist aim to serve focused group of people which are students and also those who regard themselves
                as a lifelong student to share valuable lesson learnt along that process.
                <br><br>
                Most of the platforms that are available today is too complex with too many functionalities that we
                rarely use it in our daily life.
                Redlist is simple and easy to use. We want to keep the simplicity so that it can serves it's purpose
                which is "Giving Back to Communities".
            </p>
            <br>
            <strong>Question 3: Is Redlist free of charge?</strong>
            <p>
                Redlist is free and always will be.
            </p>
            <br>
            <strong>Question 4: Can I post something that are not related to education?</strong>
            <p>
                As long as it is NOT illegal, plagiarism, scam, MLM (Multi Level Marketing),
                fake information, or sexually-explicit content,
                you are free to post your stories, advertise, or create group.
                <br><br>
                But we strongly encourage our users to post anything related to knowledge, experiences, theories with facts,
                philosophies, human history, technologies, or in other words, anything that are precious, valuable, meaningful,
                and worth to be shared.
            </p>
            <hr>
            <h4>Need Help?</h4>
            <strong>Before asking your question</strong>
            <p>
                We assumed that you already read the FAQ section above before asking any questions. If you haven't done so,
                you may read the FAQ section and if you didn't find the answer to your questions, please post your questions using
                the form below. Don't forget to fill in your email address so that we can get to you with the answer shortly.
                <br><br>
                Thank you very much for your feedbacks!
            </p>
            <hr>
            <strong>Post your feedbacks or inquiries here</strong>
            <br><br>
            <%= render 'static_pages/form' %>
        </div>

    </div>
</div>
<div class="col-md-2"></div>
