<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body">
            <h3>Privacy Policy</h3>
            <hr>
            <p>
                We value our users by keeping their information privately.
                We will not expose, give, or exploit any information unless we got permission
                from the source of the information itself.
                <br><br>
                In case of request from authorities for information or contents that are highly regards
                as provocative or sensitive issues that might lead to serious public disorders,
                we may as well take appropriate actions that we think is the best solution to the
                circumstances.
                <br><br>
                This platform were made as a medium to spread meaningful content that will contribute to
                our socities or communities in a positive way. Inappropriate postings will not only affect
                our communities and future generations but also give bad impressions to the one who posted it.
                <br><br><br>
                <div class="text-center">
                <strong>"Build healthy communities, but not enemies"</strong>
                </div>
                <br>
            </p>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
