<% provide(:submit_text,'Submit Report')%>
<% provide(:placeholder,'Report problems, suggestions, or criticisms')%>
<div class="col-md-2"></div>
<div class="col-md-8">
    <div class="panel">
        <div class="panel-body">
            <h3>Report Problem</h3>
            <hr>
            <p>
                We are passionate to bring our vision comes true.
                <br><br>
                This project is not just something that we made for nothing. We hope that it can trigger
                the impact in our education system for the better.
                <br><br>
                Redlist is still in its early stage and a lot of improvements need to be made
                to deliver the best experience that our users can get while getting the benefits
                out of this platform. For this matter, we urge you to give as many feedbacks,
                inquiries, questions, suggestions, or anything that related to education as well
                as regarding to this platform.
                <br><br>
                We are very appreciate for any inputs that will make this platform a better place
                for those who value any positive contribution towards our communities. You can do
                so by filling the form below.
                <br><br>
                Thank you very much for all your support!
            </p>
            <hr>
            <strong>Report Any Problem Regarding This Website</strong>
            <br><br>
            <%= render 'static_pages/form' %>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
