<h3>Yearbooks</h3>
<hr>
<div class="row">
    <% @yearbooks.each do |yearbook| %>
      <%= link_to yearbook_path(yearbook) do %>
      <div class="col-lg-4" style="padding-bottom: 35px;">
        <img class="img-responsive" src="http://placehold.it/450x600">
      </div>
      <% end %>
    <% end %>
</div>
