<script type="text/javascript">
		pixlr.settings.target = 'http://developer.pixlr.com/save_post_modal.php';
		pixlr.settings.exit = 'http://developer.pixlr.com/exit_modal.html';
		pixlr.settings.credentials = true;
		pixlr.settings.method = 'post';
	</script>
<h3>My Yearbook Pages</h3>
<hr>
<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">

            <% for i in 0...5 do %>
            <div class="col-lg-4 col-sm-6">
              <%= link_to "http://www.rubyonrails.org/" do %>
                    <%= image_tag('https://www.socialbuzzcom.com/wp-content/uploads/2016/09/autumn_bench-HD.jpg', class: "img-responsive") %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Scarf type
                            </div>
                            <div class="project-name">
                                <%= i %>
                            </div>
                        </div>
                    </div>
                    <% end %>
            </div>
            <% end %>

        </div>
    </div>
</section>
